{% extends 'web/navbar.html' %}
{% url logout_user as 'logout_user' %}
{% url projects_page_view as 'projects_page_view' %}
{% load static %}



{% block content %}
            <div class="row" style="min-width: 353px;">
              <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 col-xxl-3 offset-xl-0 d-flex d-xl-flex align-items-center justify-content-xl-start align-items-xl-center" style="height: 70px;padding-left: 20px;">
              <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-xl-center align-items-xl-center" style="padding: 2px;"><span class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="font-size: 20px;align-self: center;"><strong>Projects</strong></span></div>
              </div>
              <div class="col d-flex d-sm-flex align-items-center justify-content-sm-end align-items-sm-center justify-content-md-end" id="search-add-column">
                  <div class="d-sm-flex justify-content-sm-center align-items-sm-center" style="height: 70px;width: 190px;"><input type="search" style="width: 170px;border-radius: 16px;background: rgba(32,37,41,0.11);border: none;font-size: 13px;height: 30px;outline: none;" placeholder="🔍 Search projects" /></div>
                  <div class="d-sm-flex d-md-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center" style="width: 190px;height: 70px;">
                      <div class="d-sm-flex d-md-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center" style="height: 30px;width: auto;border-radius: 11px;background: #0f0521;"><a class="d-sm-flex d-md-flex justify-content-sm-center align-items-sm-center justify-content-md-center" href="#" style="color: rgb(255,255,255);text-decoration: none;font-size: 26px;position: relative;line-height: 24px;">  ⊕</a><a class="d-sm-flex d-md-flex justify-content-sm-center align-items-sm-center justify-content-md-center" href="#" style="color: rgb(255,255,255);text-decoration: none;font-size: 16px;position: relative;"> Add new project    </a></div>
                  </div>
              </div>
{% for project in Project_list %}
                  <div class="col-sm-12" id="projects-wrapper" style="height: 100px;">
                    <div class="d-flex d-sm-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-lg-center justify-content-xxl-center" id="project-detail-div" style="border-radius: 24px;box-shadow: 0px 0px 6px 0px rgba(33,37,41,0.35);height: 80px;margin-top: 4px;">
                        <div id="project-name" class="small-screen-sizing" style="width: 250px;height: 80px;padding-left: 16px;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-end justify-content-xl-center align-items-xl-end" style="height: 40px;width: 200px;font-weight: bold;font-size: 14px;"><span>{{forloop.counter}}. {{ project.name }}</span></div>
                            <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-start" style="width: 200px;height: 30px;"><span style="background: rgba(255,8,31,0.16);color: rgb(255,1,1);font-size: 13px;border-radius: 6px;padding: 5px;padding-top: 2px;padding-bottom: 2px;">Started on: {{ project.start_date }}</span></div>
                        </div>
                        <div id="project-due-date" class="only-max-screen" style="height: 80px;width: 200px;">
                            <div style="width: 250px;height: 80px;padding-left: 15px;">
                                <div class="d-flex d-xl-flex align-items-end justify-content-xl-center align-items-xl-end" style="height: 40px;width: 200px;font-weight: bold;font-size: 14px;"><span style="background: rgba(0,0,0,0.16);color: rgb(0,0,0);font-size: 13px;border-radius: 6px;padding: 9px;padding-top: 0px;padding-bottom: 0px;">Due on: {{ project.due_date }}</span></div>
                                <div class="d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-start" style="width: 200px;height: 30px;"><span style="font-size: 12px;"><strong> {{project.due_date|timeuntil}} Remaining</strong></span></div>
                            </div>
                        </div>

                        <div id="project-type" class="only-max-screen" style="width: 100px;">
                        {% if project.type == 'MA' %}
                          <img style="width: 30px;height: 30px;padding-left: 0px;margin-left: 20px;" src="{% static 'img/app.png' %}">
                        {% elif project.type == 'W' %}
                          <img style="width: 30px;height: 30px;padding-left: 0px;margin-left: 20px;" src="{% static 'img/black-icon-11202%20(1).png' %}">
                        {% else %}
                          <span style="width: 30px;height: 30px;padding-left: 0px;margin-left: 20px;"> {{project.type}} </span>
                        {% endif %}

                      </div>

                        <div id="project-client-owner" class="only-max-screen" style="width: 150px;height: 80px;">
                            <div style="width: 200px;height: 80px;padding-left: 15px;">
                                <div class="d-flex d-xl-flex align-items-end justify-content-xl-start align-items-xl-end justify-content-xxl-start" style="height: 40px;width: 200px;font-weight: bold;font-size: 14px;"><span style="font-size: 12px;">Client:</span></div>
                                <div class="d-flex d-xl-flex justify-content-center justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start align-items-xl-start justify-content-xxl-start" style="width: 200px;height: 30px;"><span style="font-size: 12px;">{{ project.client }}</span></div>
                            </div>
                        </div>

                        <div id="project-progress-bar" class="small-screen-sizing" style="width: 180px;">
                            <div style="width: 200px;height: 80px;padding-left: 15px;">
                                <div class="d-flex d-xl-flex justify-content-center align-items-end justify-content-sm-start justify-content-xl-start align-items-xl-end justify-content-xxl-start" style="height: 40px;width: 186px;font-weight: bold;font-size: 14px;">
                                    <div><span style="font-size: 12px;margin-left: 0px;padding-left: 0px;margin-right: 0px;">Progress</span></div>
                                    <div style="padding-right: 0px;padding-left: 70px;"><span style="font-size: 12px;padding-left: 0px;">50%</span></div>
                                </div>
                                <div class="d-flex d-xl-flex justify-content-center justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start align-items-xl-start justify-content-xxl-start" style="width: 200px;height: 30px;">
                                    <div class="progress" style="width: 150px;height: 8px;">
                                        <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" id="project" style="width: 50%;">50%</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-end small-screen-sizing" id="project-link" style="width: 200px;padding-right: 8px;margin-right: 0px;height: 32px;">
                            <div class="d-flex d-sm-flex d-lg-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center" style="border-radius: 10px;box-shadow: 0px 0px 1px 1px rgb(33,37,41);height: 32px;width: 110px;"><a href ={% url 'projects_page_view' %}{{project.id}} style="text-decoration: none;color: rgb(0,0,0);font-size: 12px;">View project</a></div>
                        </div>
                    </div>
                </div>
{% endfor %}
{% endblock %}

            </div>
        </div>
    </div>
    <script src=/core/static/bootstrap/js/bootstrap.min.js></script>
</body>

</html>
